@using BlazorAppM.Models
@using BlazorAppM.Services

@*Ui section*@

 <h3>ProductList</h3>

 @foreach(Product product in Products)
 {
     <h4>@product.Id: @product.Name</h4>
     <p>@product.Description</p>
    <p>£@product.Price</p>
 }
    
 @* code section*@

@code {
    [EditorRequired]
    [Parameter]
    public List<Product> Products { get; set; } = ProductService.Products.ToList();

    [Parameter]
    public bool DisplayBuyButton { get; set; } = false;
}
